.productCard {
    position: relative;

}

.product_lable {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: red;
    width: max-content;
    padding: 4px 8px;
    border-radius: 6px;
}